xrandr --output HDMI-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output HDMI-3 --primary --mode 1920x1080 --pos 0x0 --rotate normal
#xrandr --primary HDMI-3
#xrandr --output HDMI-1 --auto --right-of HDMI-3
